<template>
	<div class="chart absolute">
		<div class="chart__title">Followers Stats</div>
		<div class="chart__box flex flex-col">
			<div class="chart__line w-full flex items-center">
				<span>40</span>
				<hr class="chart__line--draw grow" />
			</div>
			<div class="chart__line w-full flex items-center">
				<span>20</span>
				<hr class="chart__line--draw grow" />
			</div>
			<div class="chart__line w-full flex items-center">
				<span>0</span>
				<hr class="chart__line--draw grow" />
			</div>
			<div class="chart__line w-full flex items-center">
				<span>-20</span>
				<hr class="chart__line--draw grow" />
			</div>
		</div>
	</div>
</template>

<script>
	export default {};
</script>

<style lang="scss" scoped>
	.chart {
		bottom: 0;
		left: 0;
		width: 100%;
		// border: 1px solid red
		background-color: white;
		border: 0.0625rem solid var(--border-purple);
		border-radius: 1.4375rem;
		padding: 1rem;
	}
	.chart__title {
		font-family: var(--ff-header);
		color: var(--text-mid-grey);
		font-weight: var(--fw-bold);
		margin-block-end: 1rem;
	}
	.chart__line {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
	}
	.chart__line span {
		display: flex;
		color: var(--text-mid-grey);
		font-size: var(--fs-b3);
		margin-right: 0.625rem;
		width: 30px;
		align-items: center;
		justify-content: center;
	}
	.chart__line--draw {
		display: flex;
		border-bottom: 0.001rem solid var(--clr-purple-light);
	}
	.chart__box {
		gap: 1rem;
	}
</style>
