<template>
	<div class="square flex flex-col absolute">
		<div class="square__like flex space-x-3 items-center justify-start">
			<div class="square__icon">
				<svg
					class="svg-icon"
					style="width: 1em; height: 1em; vertical-align: middle; fill: currentColor; overflow: hidden"
					viewBox="0 0 1024 1024"
					version="1.1"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M512 910.933333l-61.866667-56.32C230.4 655.36 85.333333 523.52 85.333333 362.666667 85.333333 230.826667 188.586667 128 320 128c74.24 0 145.493333 34.56 192 88.746667C558.506667 162.56 629.76 128 704 128 835.413333 128 938.666667 230.826667 938.666667 362.666667c0 160.853333-145.066667 292.693333-364.8 491.946666L512 910.933333z"
						fill="" />
				</svg>
			</div>
			<span class="square__title">Likes</span>
		</div>
		<div class="square__value">15.9K</div>
		<div class="square__description flex items-center justify-start space-x-1">
			<span :class="[isIncrease ? 'square__description--increase' : 'square__description--decrease']">
				<svg
					v-if="isIncrease"
					class="svg-icon"
					style="width: 1em; height: 1em; vertical-align: middle; fill: currentColor; overflow: hidden"
					viewBox="0 0 1024 1024"
					version="1.1"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M738.134809 434.550047 537.44809 233.860259 537.44809 906.038378 486.55191 906.038378 486.55191 233.862305 285.865191 434.550047 240.638127 389.322983 512.000512 117.960599 783.361873 389.322983Z" />
				</svg>
				<svg
					v-else
					class="svg-icon"
					style="width: 1em; height: 1em; vertical-align: middle; fill: currentColor; overflow: hidden"
					viewBox="0 0 1024 1024"
					version="1.1"
					xmlns="http://www.w3.org/2000/svg">
					<path d="M509.207273 914.501818a29.090909 29.090909 0 0 1-29.090909-29.090909V96.349091a29.090909 29.090909 0 0 1 58.181818 0v789.061818a29.090909 29.090909 0 0 1-29.090909 29.090909z" />
					<path
						d="M509.207273 956.741818a28.974545 28.974545 0 0 1-20.48-8.494545L264.029091 724.945455a29.090909 29.090909 0 0 1 40.96-41.309091L509.207273 886.690909 713.309091 683.752727a29.090909 29.090909 0 0 1 40.96 41.309091l-224.581818 223.185455a28.974545 28.974545 0 0 1-20.48 8.494545z" />
				</svg>
			</span>
			<span :class="[isIncrease ? 'square__description--increase' : 'square__description--decrease']">2.1%</span>
			<span class="">vs last 7 days</span>
		</div>
	</div>
</template>

<script>
	export default {
		props: ["isIncrease"],
	};
</script>

<style lang="scss" scoped>
	.square {
		background-color: var(--background-color);
		width: max-content;
		padding: 0.625rem;
		border-radius: 0.625rem;
		gap: 0.1rem;
		right: 0;
		z-index: 9;
		box-shadow: 0px -2px 1px 2px var(--clr-purple);
	}
	.square__icon {
		background-color: var(--color-error);
		color: var(--text-white);
		padding: 0.25rem;
		border-radius: 50%;
		font-size: var(--fs-b3);
	}
	.square__title {
		color: var(--text-mid-grey);
		font-weight: var(--fw-bold);
	}
	.square__value {
		font-size: var(--fs-h3);
		font-weight: var(--fw-bold);
		font-family: var(--ff-header);
		letter-spacing: -5px;
	}
	.square__description span {
		font-size: 0.75rem;
	}
	.square__description span:last-child {
		color: var(--text-mid-grey);
	}
	.square__description--increase {
		color: var(--color-success);
	}
	.square__description--decrease {
		color: var(--color-error);
	}
</style>
