<template>
	<header class="wrapper header">
		<div class="flex-1 header__content">
			<p class="header__title">Committed To People Committed To <span class="header__title-span">The Future</span></p>
			<p class="header__description">An enim nullam tempor sapien gravida donec enim ipsum porta justo congue magna at</p>
			<button class="header__button">Get Started Now</button>
		</div>
		<div class="flex-1 header__image relative">
			<div class="w-full">
				<square-stat :isIncrease="true" />
				<chart-stat />
			</div>
		</div>
	</header>
</template>

<script>
	import ChartStat from "./Statistiques/ChartStat.vue";
	import SquareStat from "./Statistiques/SquareStat.vue";
	export default {
		components: { SquareStat, ChartStat },
	};
</script>

<style lang="scss" scoped>
	@import "../core/css/variable.scss";
	.header {
		margin-block: 1rem;
		padding-block: 1rem;
		display: flex;
	}
	.header__content {
		max-width: 18.5rem;
	}
	.header__title {
		color: var(--text-bright-grey);
		font-family: var(--ff-header);
		font-weight: var(--fw-bold);
		font-size: var(--fs-h5);
		line-height: var(--lh-large-2);
	}
	.header__title-span {
		color: var(--clr-purple);
	}
	.header__description {
		font-weight: var(--fw-regular);
		font-size: var(--fs-b3);
		line-height: var(--lh-extra);
		color: var(--text-black);
		margin-block: 1.3rem;
	}
	.header__button {
		color: var(--text-white);
		background-color: var(--clr-purple);
		font-size: 0.875rem;
		font-weight: var(--fw-bold);
		padding: 1rem 1.5rem;
		border-radius: 0.9375rem;
	}
	.header__image {
		display: none;
	}
	@media screen and (min-width: $mobile) {
		.header__content {
			max-width: 27rem;
		}
	}
	@media screen and (min-width: 37.5rem) {
		.header__content {
			max-width: 18.5rem;
		}
		.header__image {
			display: block;
		}
	}
</style>
