<template>
	<nav class="navbar flex items-center justify-between wrapper">
		<div class="navbar__logo">
			<svg
				width="179"
				height="40"
				viewBox="0 0 179 40"
				fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path
					d="M63.1599 32.252C61.4079 32.252 59.8239 31.952 58.4079 31.352C57.0159 30.752 55.9119 29.888 55.0959 28.76C54.2799 27.632 53.8599 26.3 53.8359 24.764H59.2359C59.3079 25.796 59.6679 26.612 60.3159 27.212C60.9879 27.812 61.8999 28.112 63.0519 28.112C64.2279 28.112 65.1519 27.836 65.8239 27.284C66.4959 26.708 66.8319 25.964 66.8319 25.052C66.8319 24.308 66.6039 23.696 66.1479 23.216C65.6919 22.736 65.1159 22.364 64.4199 22.1C63.7479 21.812 62.8119 21.5 61.6119 21.164C59.9799 20.684 58.6479 20.216 57.6159 19.76C56.6079 19.28 55.7319 18.572 54.9879 17.636C54.2679 16.676 53.9079 15.404 53.9079 13.82C53.9079 12.332 54.2799 11.036 55.0239 9.93196C55.7679 8.82796 56.8119 7.98796 58.1559 7.41196C59.4999 6.81196 61.0359 6.51196 62.7639 6.51196C65.3559 6.51196 67.4559 7.14796 69.0639 8.41996C70.6959 9.66796 71.5959 11.42 71.7639 13.676H66.2199C66.1719 12.812 65.7999 12.104 65.1039 11.552C64.4319 10.976 63.5319 10.688 62.4039 10.688C61.4199 10.688 60.6279 10.94 60.0279 11.444C59.4519 11.948 59.1639 12.68 59.1639 13.64C59.1639 14.312 59.3799 14.876 59.8119 15.332C60.2679 15.764 60.8199 16.124 61.4679 16.412C62.1399 16.676 63.0759 16.988 64.2759 17.348C65.9079 17.828 67.2399 18.308 68.2719 18.788C69.3039 19.268 70.1919 19.988 70.9359 20.948C71.6799 21.908 72.0519 23.168 72.0519 24.728C72.0519 26.072 71.7039 27.32 71.0079 28.472C70.3119 29.624 69.2919 30.548 67.9479 31.244C66.6039 31.916 65.0079 32.252 63.1599 32.252Z"
					fill="#332C5C" />
				<path
					d="M74.7654 21.956C74.7654 19.94 75.1614 18.152 75.9534 16.592C76.7694 15.032 77.8614 13.832 79.2294 12.992C80.6214 12.152 82.1694 11.732 83.8734 11.732C85.3614 11.732 86.6574 12.032 87.7614 12.632C88.8894 13.232 89.7894 13.988 90.4614 14.9V12.056H95.5374V32H90.4614V29.084C89.8134 30.02 88.9134 30.8 87.7614 31.424C86.6334 32.024 85.3254 32.324 83.8374 32.324C82.1574 32.324 80.6214 31.892 79.2294 31.028C77.8614 30.164 76.7694 28.952 75.9534 27.392C75.1614 25.808 74.7654 23.996 74.7654 21.956ZM90.4614 22.028C90.4614 20.804 90.2214 19.76 89.7414 18.896C89.2614 18.008 88.6134 17.336 87.7974 16.88C86.9814 16.4 86.1054 16.16 85.1694 16.16C84.2334 16.16 83.3694 16.388 82.5774 16.844C81.7854 17.3 81.1374 17.972 80.6334 18.86C80.1534 19.724 79.9134 20.756 79.9134 21.956C79.9134 23.156 80.1534 24.212 80.6334 25.124C81.1374 26.012 81.7854 26.696 82.5774 27.176C83.3934 27.656 84.2574 27.896 85.1694 27.896C86.1054 27.896 86.9814 27.668 87.7974 27.212C88.6134 26.732 89.2614 26.06 89.7414 25.196C90.2214 24.308 90.4614 23.252 90.4614 22.028Z"
					fill="#332C5C" />
				<path
					d="M98.8039 21.956C98.8039 19.94 99.1999 18.152 99.9919 16.592C100.808 15.032 101.9 13.832 103.268 12.992C104.66 12.152 106.208 11.732 107.912 11.732C109.4 11.732 110.696 12.032 111.8 12.632C112.928 13.232 113.828 13.988 114.5 14.9V12.056H119.576V32H114.5V29.084C113.852 30.02 112.952 30.8 111.8 31.424C110.672 32.024 109.364 32.324 107.876 32.324C106.196 32.324 104.66 31.892 103.268 31.028C101.9 30.164 100.808 28.952 99.9919 27.392C99.1999 25.808 98.8039 23.996 98.8039 21.956ZM114.5 22.028C114.5 20.804 114.26 19.76 113.78 18.896C113.3 18.008 112.652 17.336 111.836 16.88C111.02 16.4 110.144 16.16 109.208 16.16C108.272 16.16 107.408 16.388 106.616 16.844C105.824 17.3 105.176 17.972 104.672 18.86C104.192 19.724 103.952 20.756 103.952 21.956C103.952 23.156 104.192 24.212 104.672 25.124C105.176 26.012 105.824 26.696 106.616 27.176C107.432 27.656 108.296 27.896 109.208 27.896C110.144 27.896 111.02 27.668 111.836 27.212C112.652 26.732 113.3 26.06 113.78 25.196C114.26 24.308 114.5 23.252 114.5 22.028Z"
					fill="#332C5C" />
				<path
					d="M132.814 32.252C131.062 32.252 129.478 31.952 128.062 31.352C126.67 30.752 125.566 29.888 124.75 28.76C123.934 27.632 123.514 26.3 123.49 24.764H128.89C128.962 25.796 129.322 26.612 129.97 27.212C130.642 27.812 131.554 28.112 132.706 28.112C133.882 28.112 134.806 27.836 135.478 27.284C136.15 26.708 136.486 25.964 136.486 25.052C136.486 24.308 136.258 23.696 135.802 23.216C135.346 22.736 134.77 22.364 134.074 22.1C133.402 21.812 132.466 21.5 131.266 21.164C129.634 20.684 128.302 20.216 127.27 19.76C126.262 19.28 125.386 18.572 124.642 17.636C123.922 16.676 123.562 15.404 123.562 13.82C123.562 12.332 123.934 11.036 124.678 9.93196C125.422 8.82796 126.466 7.98796 127.81 7.41196C129.154 6.81196 130.69 6.51196 132.418 6.51196C135.01 6.51196 137.11 7.14796 138.718 8.41996C140.35 9.66796 141.25 11.42 141.418 13.676H135.874C135.826 12.812 135.454 12.104 134.758 11.552C134.086 10.976 133.186 10.688 132.058 10.688C131.074 10.688 130.282 10.94 129.682 11.444C129.106 11.948 128.818 12.68 128.818 13.64C128.818 14.312 129.034 14.876 129.466 15.332C129.922 15.764 130.474 16.124 131.122 16.412C131.794 16.676 132.73 16.988 133.93 17.348C135.562 17.828 136.894 18.308 137.926 18.788C138.958 19.268 139.846 19.988 140.59 20.948C141.334 21.908 141.706 23.168 141.706 24.728C141.706 26.072 141.358 27.32 140.662 28.472C139.966 29.624 138.946 30.548 137.602 31.244C136.258 31.916 134.662 32.252 132.814 32.252Z"
					fill="#332C5C" />
				<path
					d="M151.584 16.196V25.844C151.584 26.516 151.74 27.008 152.052 27.32C152.388 27.608 152.94 27.752 153.708 27.752H156.048V32H152.88C148.632 32 146.508 29.936 146.508 25.808V16.196H144.132V12.056H146.508V7.12396H151.584V12.056H156.048V16.196H151.584Z"
					fill="#332C5C" />
				<path
					d="M168.169 32.324C166.249 32.324 164.521 31.904 162.985 31.064C161.449 30.2 160.237 28.988 159.349 27.428C158.485 25.868 158.053 24.068 158.053 22.028C158.053 19.988 158.497 18.188 159.385 16.628C160.297 15.068 161.533 13.868 163.093 13.028C164.653 12.164 166.393 11.732 168.313 11.732C170.233 11.732 171.973 12.164 173.533 13.028C175.093 13.868 176.317 15.068 177.205 16.628C178.117 18.188 178.573 19.988 178.573 22.028C178.573 24.068 178.105 25.868 177.169 27.428C176.257 28.988 175.009 30.2 173.425 31.064C171.865 31.904 170.113 32.324 168.169 32.324ZM168.169 27.932C169.081 27.932 169.933 27.716 170.725 27.284C171.541 26.828 172.189 26.156 172.669 25.268C173.149 24.38 173.389 23.3 173.389 22.028C173.389 20.132 172.885 18.68 171.877 17.672C170.893 16.64 169.681 16.124 168.241 16.124C166.801 16.124 165.589 16.64 164.605 17.672C163.645 18.68 163.165 20.132 163.165 22.028C163.165 23.924 163.633 25.388 164.569 26.42C165.529 27.428 166.729 27.932 168.169 27.932Z"
					fill="#332C5C" />
				<path
					d="M22.3925 37.0075H11.3048C6.66767 37.0075 2.90625 33.2495 2.90625 28.609V11.3912C2.90625 6.7541 6.66422 2.99268 11.3048 2.99268H24.8163C23.3096 3.14093 21.8513 3.46156 20.4515 3.96492C18.4622 4.68204 16.8452 5.76116 15.6006 7.19885C14.356 8.63653 13.732 10.3604 13.732 12.3738C13.732 14.5286 14.2595 16.28 15.3145 17.6177C16.366 18.9589 17.6382 19.9656 19.1241 20.6345C20.6066 21.3068 22.5236 21.9756 24.8714 22.6479C26.7883 23.2237 28.2846 23.727 29.3638 24.158C30.4394 24.589 31.3393 25.1889 32.0598 25.9542C32.777 26.7196 33.1355 27.7022 33.1355 28.8986C33.1355 30.6707 32.5011 32.0497 31.2324 33.0289C29.9637 34.0115 28.2019 34.501 25.9506 34.501C23.4579 34.501 21.5548 34.0804 20.2377 33.2426C18.9207 32.4049 18.2622 31.2671 18.2622 29.8294C18.2622 28.7779 18.538 27.9608 19.0897 27.385C19.6413 26.8093 19.9171 26.499 19.9171 26.4507C19.9171 26.2128 19.6172 25.8749 19.0173 25.444C18.4174 25.013 17.7347 24.7958 16.9693 24.7958C15.6282 24.7958 14.5387 25.2268 13.7009 26.0887C12.8632 26.9506 12.4425 28.078 12.4425 29.4674C12.4425 31.9118 13.6389 33.8046 16.035 35.1423C17.7727 36.1249 19.8964 36.7386 22.3925 37.0075Z"
					fill="#8976FD" />
				<path
					d="M28.8399 0H11.1567C5.00603 0 0 5.00603 0 11.1567V28.8399C0 34.994 5.00603 39.9966 11.1567 39.9966H28.8399C34.994 39.9966 40 34.9905 40 28.8399V11.1567C40 5.00603 34.994 0 28.8399 0ZM39.045 28.8399C39.045 34.4734 34.4768 39.0415 28.8433 39.0415H11.1567C5.52319 39.0415 0.955008 34.4734 0.955008 28.8399V11.1567C0.955008 5.52319 5.52319 0.955008 11.1567 0.955008H28.8399C31.2429 0.955008 33.4494 1.79279 35.1939 3.18911C37.1798 5.10602 38.4899 8.31926 37.0074 11.5359C36.8109 12.0772 36.5178 12.5737 36.1283 13.0219C35.3387 13.9321 34.2941 14.3872 33.0012 14.3872C32.2324 14.3872 31.5532 14.17 30.9533 13.739C30.3534 13.3081 30.0534 12.9736 30.0534 12.7323C30.0534 12.684 30.2465 12.4944 30.6292 12.1565C31.0119 11.8221 31.3601 11.4256 31.6739 10.9705C31.9841 10.5154 32.1427 9.97759 32.1427 9.35356C32.0462 8.06068 31.398 7.05396 30.2017 6.33684C29.0019 5.61972 27.5884 5.25771 25.961 5.25771C24.1407 5.25771 22.5478 5.67833 21.1826 6.51612C19.8173 7.3539 19.1346 8.51577 19.1346 10.0017C19.1346 11.3429 19.4208 12.4082 19.9966 13.1977C20.5723 13.9872 21.4342 14.6251 22.5823 15.1008C23.7304 15.5801 25.5508 16.2282 28.0434 17.0419C30.5809 17.8555 32.5702 18.6106 34.0079 19.307C35.2284 19.8966 36.2179 20.6689 37.0074 21.6032C37.0178 21.617 37.0281 21.6273 37.0384 21.6411C38.3761 23.2512 39.045 25.3094 39.045 27.4022V28.8399Z"
					fill="#8976FD" />
			</svg>
		</div>
		<div class="navbar__menu flex-1">
			<ul class="navbar__list grow">
				<li class="body03">Home</li>
				<li class="body03">About Us</li>
				<li class="body03">Services</li>
				<li class="body03">Blog</li>
				<li class="body03">Contact Us</li>
			</ul>
		</div>
		<div class="navbar__buttons flex items-center">
			<button class="navbar__login">Login</button>
			<button class="navbar__register navbar__register--outline body04">Sign up</button>
			<button class="navbar__menu-btn">
				<svg
					class="svg-icon"
					style="width: 1em; height: 1em; vertical-align: middle; fill: currentColor; overflow: hidden"
					viewBox="0 0 1024 1024"
					version="1.1"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M195.584 245.76h571.392A31.66208 31.66208 0 0 1 798.72 277.36064v15.79008a31.66208 31.66208 0 0 1-31.744 31.60064H195.584A31.66208 31.66208 0 0 1 163.84 293.15072v-15.79008A31.66208 31.66208 0 0 1 195.584 245.76z m0 236.97408H608.256a31.66208 31.66208 0 0 1 31.744 31.60064v15.79008a31.66208 31.66208 0 0 1-31.744 31.60064H195.584A31.66208 31.66208 0 0 1 163.84 530.14528v-15.81056a31.66208 31.66208 0 0 1 31.744-31.60064z m0 236.97408h571.392A31.68256 31.68256 0 0 1 798.72 751.32928v15.81056A31.66208 31.66208 0 0 1 766.976 798.72H195.584A31.66208 31.66208 0 0 1 163.84 767.11936v-15.79008a31.66208 31.66208 0 0 1 31.744-31.60064z" />
				</svg>
			</button>
		</div>
	</nav>
</template>

<script>
	export default {
		name: "NavBar",
	};
</script>

<style lang="scss" scoped>
	@import "../core/css/variable.scss";
	.navbar {
		margin-inline: auto;
		margin-block: 1.625rem;
	}
	.navbar__buttons .navbar__login,
	.navbar__buttons .navbar__register {
		padding: 0.5rem 1rem;
		color: var(--text-purple-haze);
		display: none;
	}
	.navbar__register--outline {
		border: 0.0625rem solid var(--border-purple);
		border-radius: 0.9375rem;
	}
	.navbar__menu-btn {
		font-size: var(--fs-h4);
		margin-left: 1.5rem;
		color: var(--text-purple-haze);
	}
	.navbar__menu {
		max-width: 30rem;
		margin: auto;
		display: none;
		justify-content: center;
		align-items: center;
	}
	.navbar__menu .navbar__list {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.navbar__menu .navbar__list li {
		color: var(--text-purple-haze);
		cursor: pointer;
	}
	@media all and (min-width: $mobile) {
		.navbar__buttons .navbar__login,
		.navbar__buttons .navbar__register {
			display: block;
		}
	}
	@media all and (min-width: $tablet) {
		.navbar__menu {
			display: flex;
		}
		.navbar__menu-btn {
			display: none;
		}
	}
	@media screen and (min-width: $small-desktop) {
		.wrapper {
			max-width: $tablet;
		}
	}
	@media screen and (min-width: $desktop) {
		.wrapper {
			max-width: $small-desktop;
		}
	}
</style>
