<script setup lang="ts">
	import { NavBar, Header } from "../ui";
</script>

<template>
	<nav-bar />
	<Header />
</template>

<style lang="scss" scoped>
	@import "../core/css/variable.scss";
	.app {
		background-color: var(--background-color);
	}
</style>
