:root{
    --clr-yellow:#fca61f;
    --clr-yellow-dark:hsl(37, 97%, 71%);
    --clr-yellow-regular:hsl(37, 100%, 78%);
    --clr-yellow-light:hsl(35, 95%, 86%);
    --clr-yellow-extra:hsl(37, 100%, 91%);

    --clr-purple:#8A76FC;
    --clr-purple-dark:hsl(249, 96%, 73%);
    --clr-purple-regular:hsl(249, 84%, 79%);
    --clr-purple-light:hsl(248, 84%, 86%);
    --clr-purple-extra:hsl(250, 84%, 93%);

    --clr-sky-blue:hsl(201, 100%, 71%);
    --clr-easter-purple:hsl(277, 86%, 69%);
    --clr-soft-blue:hsl(231, 100%, 73%);
    --clr-selective-yellow:hsl(44, 98%, 51%);
    --clr-light-turquoise:hsl(161, 78%, 68%);


    /** Text color **/
    --text-bright-grey:hsl(250, 36%, 27%);
    --text-purple-haze:hsl(249, 22%, 34%);
    --text-mid-grey:hsl(251, 16%, 41%);
    --text-white:hsl(0, 0%, 100%);
    --text-black:#1C0E0D;

    /** state color **/
    --color-info:hsl(214, 83%, 56%);
    --color-success:hsl(146, 64%, 42%);
    --color-error:hsl(0, 79%, 63%);
    --color-warning:hsl(45, 74%, 56%);

    /** background color **/
    --background-color:hsl(0, 0%, 100%);

    /** border color **/
    --border-yellow:var(--clr-yellow);
    --border-purple:var(--clr-purple);
}