@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

@import "./variable.scss";
@import "./typography.scss";
@import "./colors.scss";

.wrapper{
    margin: auto;
    padding-inline: 1.625rem;
   
}

// @media all and (min-width:$mobile) {
    
// }
// @media all and (min-width:$landscape) {
    
// }
// @media all and (min-width:$tablet) {
    
// }
// @media all and (min-width:$small-desktop) {
    
// }