:root{
    --ff-header:"Poppins";
    --ff-body:"Nunito sans";

    /** font size **/
    --fs-h1:56px;
    --fs-h2:48px;
    --fs-h3:44px;
    --fs-h4:36px;
    --fs-h5:24px;

    --fs-b1:20px;
    --fs-b2:18px;
    --fs-b3:16px;

    /** font weight **/
    --fw-bold:700;
    --fw-semibold:600;
    --fw-regular:400;

    /** Line height **/
    --lh-small:130%;
    --lh-medium:140%;
    --lh-large-1:150%;
    --lh-large-2:160%;
    --lh-extra:180%;
}

*{
    font-family: var(--ff-body);
}

/** Heading style **/

.heading01, .heading02, .heading03, .heading04, .heading05{
    font-family: var(--ff-header);
    font-weight: var(--fw-semibold);
}
.heading01{
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    line-height: var(--lh-small);
}
.heading02{
    font-size: var(--fs-h2);
    line-height: var(--lh-small);
}
.heading03{
    font-size: var(--fs-h3);
    line-height: var(--lh-medium);
}
.heading04{
    font-size: var(--fs-h4);
    line-height: var(--lh-medium);
}
.heading05{
    font-size: var(--fs-h5);
    line-height: var(--lh-large-2);
}

/** Body style **/
.body01, .body02, .body03, .body04{
    font-family: var(--ff-body);
    line-height: var(--lh-extra);
}
.body01{
    font-weight: var(--fw-regular);
    font-size: var(--fs-b1);
}
.body02{
    font-weight: var(--fw-bold);
    font-size: var(--fs-b1);
}
.body03{
    font-weight: var(--fw-regular);
    font-size: var(--fs-b2);
}
.body04{
    font-weight: var(--fw-bold);
    font-size: var(--fs-b2);
    line-height: var(--lh-large-1);
}